.loader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 75px;
    align-self: center;
    z-index: 999999;
    padding: 0 30px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 40px;
}

.line {
    width: 5px;
    height: 15px;
    background-color: #b0fb16;
    animation: scale 0.8s infinite ease-in-out;
}

@keyframes scale {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(2);
    }
}