.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.fade-in {
    opacity: 1;
    visibility: visible;
}

.modal-overlay.fade-in .modal-content {
    transform: translateY(0);
}

.modal-overlay.fade-out {
    opacity: 0;
    visibility: hidden;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    position: relative;
    min-width: 300px;
    max-width: 500px;
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}

.modal-title {
    font-size: var(--fs-medium);
    font-weight: 600;
    text-align: center;
    margin: 5px 0;
}

.modal-content-wrapper {
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    align-self: center;
}

.modal-title div {
    color: var(--active-color);
    font-size: var(--fs-medium);
    font-weight: 700;
}

.close-modal-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    align-self: flex-end;
    transition: all .2s ease-in-out;
}

.close-modal-icon:hover {
    color: var(--active-color);
    transform: scale(1.1);
}

.long-file-content-wrapper {
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;
}

.auth-modal-btn {
    margin-top: 10px;
    align-self: center;
}

.delete-modal-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.delete-direcotry-disclaimer {
    width: 80%;
    margin: 20px 0;
    padding: 5px 0;
    color: var(--active-color);
    font-size: var(--fs-small);
    border-top: 1px solid var(--white-color);
    border-bottom: 1px solid var(--white-color);
}

.delete-modal-buttons-loading {
}

@media (max-width: 450px) {
    .modal-title {
        font-size: var(--fs-small);
    }
    .modal-title div {
        font-size: var(--fs-small);
    }
}

@media (max-width: 400px) {
    .modal-content {
        min-width: 250px;
    }
}