.directory-wrapper {
    display: flex;
    flex-direction: column;
}

.directory-wrapper .title {
    font-size: var(--fs-2-extra-large);
    font-weight: 700;
    border-bottom: 2px solid #b0fb16;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: var(--background-color-darker);
}

.directory-wrapper .title svg {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.directory-wrapper .title svg:hover {
    transform: scale(1.1);
    color: var(--active-color);
}

.directory-wrapper .directory-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.not-logged-in-wrapper {
    display: flex;
    flex-direction: column;
}
.not-logged-in-wrapper .not-logged-in-message {
    font-size: var(--fs-large);
    font-weight: 600;
    margin: 20px 0 10px 0;
    align-self: center;
}

@media (max-width: 555px) {
    .directory-content ul {
        padding-left: 0;
    }
    .outer-list-item-wrapper span {
        font-size: var(--fs-small);
    }

    .file-name-wrapper {
        font-size: var(--fs-extra-small);;
    }
    .directory-wrapper .title {
        font-size: var(--fs-extra-large);
    }
}