@import './styles/variables.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #2a2a2d;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 3px solid #2a2a2d;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #555 #2a2a2d;
}
